@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins','sans-serif';
    box-sizing: border-box;

}

.form-container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #481010d3;
}

.form-login{
    max-width: 418px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background-color: #fff;
}

header{
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    color: #232836;
}

form{
    margin-top: 30px;
}

form .field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

.field input{
    height: 100%;
    width: 100%;
}

.field button{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 24px;
    font-weight: 400;
    border-radius: 8px;
}

.field input{
    border: 2px solid #cacaca;
    padding: 0 15px;
    outline: none;
}

.field input:focus{
    border-bottom-width: 2px;
}

.register-link{
    text-align: center;
    margin-top: 10px;
}
.register-link span , .register-link a{
    font-size: 20px;
    font-weight: 400;
}

.form a{
    text-decoration: none;
}

.form a:hover {
    text-decoration: underline;
}

.eye-icon{
    font-size: 19px;
    color: #2b2b2b;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 5px;
}

.line{
    position: relative;
    height: 2px;
    width: 100%;
    margin: 36px 0;
    background-color: #d4d4d4;
}

.line::before{
    content: 'OR';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background-color: #fff;
    color: #232836;
    padding: 0 15px;
}

.media-options a{
    display: flex;
    align-items: center;
    justify-content: center;
}

a.google .google-icon{
    height: 28px;
    width: 28px;
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

