{% include 'vlab/navbar.html' %}
{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/css/experiment1.css' %}">
</head>
<body>
    
    <h1>Introduction To the Simulator</h1>
    <p class="intro_text">The Simulator helps better visualize the finite automaton and also test a given automaton</p>
    <div class="para">
        <h3>Toolbar</h3>
        <div class="toolbar">
            <img class="para_img" src="{% static '/images/sim_toolbar.png' %}" alt="toolbar">
            <p>The toolbar consists of 5 buttons:</p>
            <p>1.Cursor- It will let us select and drag any elements and make connections betweens nodes</p>
            <p>2.+ Button- On selecting it adds a new node where the the cursor is by clicking mouse 1</p>
            <p>3.Delete Button- On selecting it deletes the node where the the cursor is by clicking mouse 1</p>
            <p>4.Grid - Toggles the grid in the main canvas</p>
            <p>5.Theme - Toggles between night and dark mode</p>
        </div>
    </div>

    <div class="para">
        <h3>States and Transitions</h3>
        <img class ="sim_legendimg" src="{% static '/images/sim_legend.png' %}" alt="sim_legend">
        <p>All the nodes and their inputs are shown here as states</p>
    </div>

    <div class="para">
        <h3>FSM Construction</h3>
        <img class="sim_ioimg" src="{% static '/images/sim_io.png' %}" alt="sim_construction">
        <p>The basic layout of an FSM when constructed in the Simulator</p>
        <p>-> and * if the state is made the start state or a final state</p>
    </div>

    <div class="para">
        <h3>Evaluation</h3>
        <img class="fsm_eximg"src="{% static '/images/fsm_ex.png' %}" alt="example">
        <br>
        <p>In the above example only strings 101 would be accepted by the FSM</p>
        <br>
        <img class="fsm_statesimg"src="{% static '/images/fsm_states.png' %}" alt="states">
        <br>
        <p>This is how the states will look for it </p>
        <br>
        <img class="fsm_evalimg"src="{% static '/images/fsm_eval.png' %}" alt="eval">
        <br>
        <p>This is how if the string is accepted and string is rejected will look like </p>
        <p>Run the test using the play button</p>
    </div>


    
</body>
</html>
