{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
    <link rel="stylesheet" href="{% static '/css/login.css' %}" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <script src="{% static '/javascript/eyeicon.js' %}"></script>
  </head>
  <body>
    {% load socialaccount %}
    
    <main>
      <section class="form-container">
        <div class="form form-login">
          <div class="form-content">
            <header>LOGIN</header>

            <form method="POST">
              {% csrf_token %} 
              <div class="field input-field">
                <input type="text" class="input" placeholder="Username" id="username" name="username"/>
              </div>

              <div class="field input-field">
                <input
                  type="password"
                  placeholder="Password"
                  id="password"
                  name="password"
                />
                
                <!-- <i class="bx bx-hide eye-icon"></i> -->
              </div>
              <a href="{% url 'reset_password'%}">Forgot Password?</a>
              

              <div class="field button-field">
                <button>Login</button>
              </div>

              {% if messages %} 
              {% for message in messages %}
              <p id="message">{{message}}</p>
              {% endfor %} 
              {% endif %}

              <div class="register-link">
                <span
                  >Don't have an account?
                  <a href="{% url 'register'%}" class="signup"
                    >Register</a
                  ></span
                >
              </div>
            </form>
          </div>
          <div class="line"></div>

          <div class="media-options">
            <a
              href="{% provider_login_url 'google' %}?next=/"
              class="field google"
            >
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAbRJREFUSEvV1U2Ij1EUBvDfLHw1ZGFrI6nRiFj4iiyZZKmhLLCyRCmLyYIkhWytxsZXs5hJYqXUjIWVIoSU2CBFpKF8dfRO3a73/v+3qSnO5q33PPc89zz33Of2mOHomeH6/gmCNdiKddjIn009wTPcwFgnFTp1MBuncbCLjBPYiTdtuBLBcoygv/KMYiNHawnm4gGWtSx4iu9YisBFXMEe/KwlOIdDCfgbTuIC3jX/Z+EYotNB/Ch1mku0BXcS8GesxotKqf6C5QSXsTtB7cfwdIvHupzgHtY2BT9hYVZ8Hm51ITyB21OYnOA9FjXJGL/NWbH5CNk6xRGcKRG8xuImeRebpkEQA3K+RHAdO5rkJHrxKyFpkyg6XpFgduFaiSD0G0rA+3CxiyRncTjBLMHLEkEkHyeX6CNW4VWBZCXirBY0+UdZN61uGlf+VFLwA/Yi5JuK8KkDOJ5NWoz41XQzbV4Ut/R+iw8F0XPEJIVVzMm6uonteacls+vDKOJbE+MYwJdagsCFDCFVeoD5+q8I7wpfavWjmhctvGgbNmB9c/sfNo/NJbzt1GINQY1ERcz/T/AbYzBHGUm0L68AAAAASUVORK5CYII="/>
              
              <span>Login with Google</span>
            </a>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
