{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <title>Login Page</title>
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/css/login-signup.css' %}">
    
</head>
<body>
    <div class="background">
        
    </div>
    <form method="POST">
        <h3>Login Here</h3>
        {% csrf_token %}

        <label for="username">Username</label>
        <input type="text" placeholder="example@somaiya.edu" id="username" name = 'username'>

        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password" name = 'password'>

        <button>Log In</button>
        
    </form>
</body>
</html>