{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
    <link rel="stylesheet" href="{% static '/css/login.css' %}" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    {% load socialaccount %}
    
    <main>
      <section class="form-container">
        <div class="form form-login">
          <div class="form-content">
            <header>LOGIN</header>

            <form method="POST">
              {% csrf_token %} 
              <div class="field input-field">
                <input type="text" class="input" placeholder="Username" id="username" name="username"/>
              </div>

              <div class="field input-field">
                <input
                  type="password"
                  placeholder="Password"
                  id="password"
                  name="password"
                />
                <i class="bx bx-hide eye-icon"></i>
              </div>

              <div class="field button-field">
                <button>Login</button>
              </div>

              {% if messages %} 
              {% for message in messages %}
              <p id="message">{{message}}</p>
              {% endfor %} 
              {% endif %}

              <div class="register-link">
                <span
                  >Don't have an account?
                  <a href="{% url 'register'%}" class="signup"
                    >Register</a
                  ></span
                >
              </div>
            </form>
          </div>
          <div class="line"></div>

          <div class="media-options">
            <a
              href="{% provider_login_url 'google' %}?next=/"
              class="field google"
            >
              <i class="bx bxl-google google-icon"></i>
              <span>Login with Google</span>
            </a>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
