{% load static %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login Page</title>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static '/css/login.css' %}" />
  </head>
  <body>

    <div class="background"></div>
    <form method="POST">
      <h3>LOGIN</h3>
      {% csrf_token %}

      <label for="username">Username</label>
      <input
        type="text"
        placeholder="example@somaiya.edu"
        id="username"
        name="username"
      />

      <label for="password">Password</label>
      <input
        type="password"
        placeholder="Password"
        id="password"
        name="password"
      />

      <button>Log In</button>
      <p>Don't have an account? <a href="{% url 'register'%}">Signup</a></p>
      <div class="social">
        <div class="go"><i class="fab fa-google"></i><a href="{% provider_login_url 'google' %}?next=/">GOOGLE</a></div>
      </div>

      {% if messages %}
        {% for message in messages %}
          <p id="message">{{message}}</p>
        {% endfor %}
      {% endif %}
    </form>
  </body>
</html>
