<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>"Website Title"</title>
  <link rel="stylesheet" href="navbar.css">
</head>

<body>
  <div class="container">
    <p>Insertlogohere</p>

    <li><a href="./html-table.html">Home</a></li>
    <li><a href="./inline-block.html">Theory</a></li>
    <li><a href="./absolute-position.html">Example</a></li>
    <li><a href="./float.html">Simulator</a></li>
    

  </div>
</body>

</html>