{% include 'vlab/navbar.html' %}

<div class="container">

    <iframe
    allowtransparency="true"
    webkitallowfullscreen="true"
    mozallowfullscreen="true"
    msallowfullscreen="true"
    src="https://html.itch.zone/html/8702095/index.html"
    frameborder="0"
    allow="autoplay; fullscreen *; geolocation; microphone; camera; midi; monetization; xr-spatial-tracking; gamepad; gyroscope; accelerometer; xr; cross-origin-isolated"
    scrolling="no"
    id="game_drop"
    allowfullscreen="true"
    ></iframe>
    
</div>

<style>
    .container{
        width: 100%;
        height: 100%;
        background-color: aqua;
    }
</style>