{% include 'vlab/navbar.html' %}

<p>Tutorial for using the <a href="{% url 'Experiment1'%}">Simulator </a></p>
<div class="container">

    <iframe
    allowtransparency="true"
    webkitallowfullscreen="true"
    mozallowfullscreen="true"
    msallowfullscreen="true"
    src="https://html.itch.zone/html/8910797/index.html"
    frameborder="0"
    allow="autoplay; fullscreen *; geolocation; microphone; camera; midi; monetization; xr-spatial-tracking; gamepad; gyroscope; accelerometer; xr; cross-origin-isolated"
    scrolling="no"
    id="game_drop"
    allowfullscreen="true"
    height="720"
    width="1280"
    ></iframe>

</div>

<style>
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
    }
</style>


<script>
    if (!crossOriginIsolated) SharedArrayBuffer = ArrayBuffer;
</script>

