{% load static %} 


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/css/Theory.css' %}" />
    <script src="{% static '/javascript/Theory.js' %}"></script>
    <title>Vlab</title>
</head>

{% include 'vlab/navbar.html' %}

<body>
    <main>
      <div>
        <h1>Theory</h1>
        
        <section id="introduction">
          <h2>Introduction</h2>
          <p>…</p>
        </section>
        <section id="request-response">
          <h2>Basic terminology &amp; concepts.</h2>
          <p>…</p>
        </section>
        
        <section id="endpoints">
          <h2>Types of Automata</h2>
          <section id="endpoints--root">
            <h3>Finite Automata(FA)</h3>
            <p>…</p>
          </section>
          <section id="endpoints--cities-overview">
            <h3>Pushdown Automata (PDA)</h3>
            <p>…</p>
          </section>
          <section id="endpoints--city-detail">
            <h3>Turing Machines (TM)</h3>
            <p>…</p>
          </section>
        
      </div>
      <nav class="section-nav">
        <ol>
          <li><a href="#introduction">Introduction</a></li>
          <li><a href="#request-response">Basic terminology &amp; concepts.</a></li>
          <li>
            <a href="#endpoints">Types of Automata</a>
            <ul>
              <li class=""><a href="#endpoints--root">Finite Automata (FA)</a></li>
              <li class="">
                <a href="#endpoints--cities-overview">Pushdown Automata (PDA)</a>
              </li>
              <li class="">
                <a href="#endpoints--city-detail">Turing Machines (TM)</a>
              </li>
            </ul>
          </li>
          
        </ol>
      </nav>
    </main>
  </body>
    
    
</html>