{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback Form</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/feedback.css' %}" />
    
</head>

<style>
    footer{
        position: absolute;
        bottom: 0;
        height: 75px;
        left: 0;
        width: 100%;
        background-color: #ae2929;
        color: #fff;
        text-align: center;
        padding: 10px 0;
        font-size: 1.2rem;
    }

    p{
        margin: 4px;
    }

</style>

{% include 'vlab/navbar.html' %}
<body class="feedbackbody">

    <h2>Feedback Form</h2>

    <form action="#" method="POST" id="feedbackForm">
       {% csrf_token %}
        <label for="courseName">Course Name:</label>
        {{form.course_name}}

        <label for="semester">Semester:</label>
        {{form.semester}}

        <label for="rating">Rating:</label>
        {{form.rating}}
        
        <label for="suggestions">Suggestions:</label>
        {{form.suggestions}}

        <button type="submit">Submit Feedback</button>
    </form>

</body>

{% comment %} <footer>
    <p>Theory of Computer Science</p>
    <p>Guided By:Prof. Kavita Bathe , Prof. Shyamal Virnodkar</p>
    <p>Developed by: Priyanshu Giriyan Aakash Dhonde Ayush Bhandari Deep Gandhi</p>
</footer> {% endcomment %}
</html>
