<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer>
        <p>Theory of Computer Science</p>
        <p>Guided By:Prof. Kavita Bathe , Prof. Shyamal Virnodkar</p>
        <p>Developed by: Priyanshu Giriyan Aakash Dhonde Ayush Bhandari Deep Gandhi</p>
    </footer>
</body>
</html>

<style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");

    footer{
        font-family: "Poppins", sans-serif;
        position: relative;
        bottom: 0;
        height: 75px;
        left: 0;
        width: 100%;
        background-color: #ae2929;
        color: #fff;
        text-align: center;
        padding: 10px 0;
        font-size: 1.2rem;
    }

    p{
        margin: 4px;
    }

</style>