{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static '/css/register.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <main>
        <section class="form-container">
            <div class="form form-login">
                <div class="form-content">
                    <header>Signup</header>

                    <form method="POST">
                      {% csrf_token %}
                        <div class="field input-field">
                            <!-- <input type="text" class="input" placeholder="Username"> -->
                            {{form.username}}
                        </div>

                        <div class="field input-field">
                            <!-- <input type="email" class="input" placeholder="Email"> -->
                            {{form.email}}
                        </div>

                        <div class="field input-field">
                            <!-- <input type="password" class="password" placeholder="Password"> -->
                            {{form.password1}}
                                                   
                        </div>

                        <div class="field input-field">
                            <!-- <input type="password" class="password" placeholder="Re-enter Password"> -->
                            {{form.password2}}
                                                    
                        </div>

                        <!-- {% if messages %} 
                        {% for message in messages %}
                        <p id="message">{{ message }}</p>
                        {% endfor %} 
                        {% endif %} -->

                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <p> {{ error}} </p>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}

                        <div class="field button-field">
                            <button>Signup</button>
                        </div>
                        
                        <div class="register-link">
                            <span>Already have an account? <a href="{% url 'login' %}" class="signup">Login</a></span>
                        </div>
                    </form>
                </div>
                
            </div>
        </section>
    </main>
</body>

</html>