{% include 'vlab/navbar.html' %}

<p class='tut'>Tutorial for using the <a href="{% url 'Experiment1'%}">Simulator </a></p>
<div class="container">

        <iframe
        allowtransparency="true"
        webkitallowfullscreen="true"
        mozallowfullscreen="true"
        msallowfullscreen="true"
        src="https://html.itch.zone/html/9140129/index.html"
        frameborder="0"
        allow="autoplay; fullscreen *; geolocation; microphone; camera; midi; monetization; xr-spatial-tracking; gamepad; gyroscope; accelerometer; xr; cross-origin-isolated"
        scrolling="no"
        id="game_drop"
        allowfullscreen="true"
        height="640"
        width="1280"
        ></iframe>
    

</div>

<style>
    .container{
        
        background-color: whitesmoke;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 100px;
        margin-bottom: 10px;
    }
    .tut{
        text-align: center;
        font-size: 30px;
        font-weight: bold;
    }

</style>

<!-- {% include 'vlab/footer.html' %} -->


<script>
    if (!crossOriginIsolated) SharedArrayBuffer = ArrayBuffer;
</script>

