{% load static %} 


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/css/Theory.css' %}" />
    <title>Vlab</title>
</head>

{% include 'vlab/navbar.html' %}

<body>
  <main>
    <section class="container">
      <header>Theory</header>
      <div class="text-box">

        <h2>Basic terminology & concepts</h2>
        <p class="basics">
          In the theory of computer science, several fundamental terms are
          essential to understanding the principles and concepts that underpin
          the field. One such term is "algorithm." An algorithm is a
          step-by-step procedure or formula for solving a problem or
          completing a task in a finite number of steps. It serves as the
          foundation for computer programs, guiding the computer on how to
          perform specific tasks efficiently. Algorithms can range from simple
          calculations to complex problem-solving methods, and they are
          crucial in various areas such as sorting data, searching for
          information, and optimizing processes. Understanding algorithms is
          fundamental to designing efficient and effective computer programs.
        </p>

        <h2>Types of Automata</h2>

        <ul class="types-automata">
          <li class='li'>DFA</li>
          <li class='li'>NFA</li>
          <li class='li'>TM</li>
        </ul>

        <h3>Finite Automata</h3>

        <p class="basics">
          Finite Automata, a fundamental concept in the theory of computer
          science, are abstract machines used to model and analyze the
          behavior of systems with limited memory and processing capabilities.
          A Finite Automaton consists of a set of states, a set of input
          symbols, a transition function that defines the state transitions
          based on inputs, an initial state, and a set of accepting states. It
          operates by reading input symbols one at a time and transitioning
          between states according to the transition function. Finite Automata
          come in various types, such as Deterministic Finite Automata (DFA)
          where each transition is uniquely determined by the current state
          and input symbol, and Non-deterministic Finite Automata (NFA) where
          multiple transitions from a state with the same input symbol are
          allowed. Finite Automata are widely used in various applications,
          including lexical analysis in compiler design, pattern matching in
          text processing, and modeling simple real-world systems in computer
          science and engineering. Understanding Finite Automata is crucial
          for solving problems related to language recognition and formal
          language theory.
        </p>

        <h3>Pushdown Automata</h3>
        <p class="basics">
          A Pushdown Automaton (PDA) is a theoretical model in computer
          science and automata theory that extends the capabilities of a
          finite automaton by incorporating an additional stack memory. PDAs
          are characterized by their ability to recognize context-free
          languages, which are more complex than regular languages. Unlike
          finite automata, PDAs can use a stack to store symbols, allowing
          them to remember and track information about the input string being
          processed. The PDA processes input symbols one at a time, using both
          the current state and the symbol at the top of the stack to
          determine its next move. It can perform three types of operations:
          push a symbol onto the stack, pop a symbol from the stack, or
          transition to a different state without changing the stack. PDAs
          play a fundamental role in formal language theory, parsing
          algorithms, and compiler design, as they provide insight into the
          structure of context-free grammars and their corresponding
          languages.
        </p>

        <h3>Turing Machine</h3>
        <p class="basics">
          Turing Machines (TMs) are fundamental theoretical constructs in
          computer science, devised by Alan Turing in the 1930s. They consist
          of an infinite tape divided into cells, where each cell can hold a
          symbol. The machine has a read/write head that moves left or right
          along the tape, interpreting symbols and transitioning between
          states according to a set of predefined rules. TMs serve as abstract
          models of computation, demonstrating the concept of algorithmic
          processes. They can perform various tasks, such as mathematical
          calculations, symbol manipulations, and decision-making. TMs play a
          pivotal role in the theory of computation, helping computer
          scientists understand the limits and capabilities of algorithms and
          computable functions, and forming the theoretical basis for modern
          computing systems.
        </p>
      </div>
    </section>
  </main>
  </body>
    
 
</html>